.carousel-body {
    padding-top: 100px;
}
.carousel-container {
    width: 140px;
    height: 220px;
    perspective: 800px; 
}

.carousel .item {
    transform: rotateY(calc(var(--offset) * 40deg)) translateZ(200px);
}

.carousel .item:hover {
    transform: rotateY(calc(var(--offset) * 40deg)) translateZ(160px) scale(1.05);
}