*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;

}



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer"; 
    user-select: none;
}
nav {
    grid-area: navbar;
    background: #fefefe;
    color: #640712;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    z-index: 10;
    align-items: center;
    height: 70px; 
}

.nav-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 0 20px; 
    position: relative; 
}
.nav-title {
    white-space: nowrap; 
    overflow: hidden; 
    flex-grow: 1; 
    text-align: center; 
}

.logo {
    height: 130px; 
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin-left: 20px;
}
.sidebar_menu-header{
    border-bottom: 2px solid #640712; 
}
.logo-title {
    display: flex;
    align-items: center;
    justify-content: center; /* center horizontally */
    gap: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.school-logo {
    width: 100px; /* slightly bigger for better visibility */
    height: 100px;
    border-radius: 50%; /* make it round if you like */
    object-fit: cover; /* keeps image from stretching */
    position:relative;
}

.school-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    max-width: 160px; /* prevent it from being too wide */
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(161, 156, 156);
    user-select: none;
}
.wrapper{
    width: 600px;   
    background: #fff;
    color: #521119;
    align-items: center;
    border-radius: 40px;
    padding: 30px 40px;
}
#logo img {
    width: 125px;
    margin-bottom: 5px;
    position: relative;
    left: 38%;
  
}
.top h1{
    position: relative;
    width: 100%;
    height: 500px;  
    margin: 30px 0px;
}
.wrapper h1{
    font-size: 38px;
    text-align: center;
    font-weight:bolder;
}
.wrapper h2{
    font-size: 25px;
    text-align: center;
    font-weight:bolder;
    margin-top: 20px;
    margin: 30px 15px;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;  
    margin: 30px 0px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #521119;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #521119;
    opacity: 50%;
}
.input-box i{
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}
.remember-forgot a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #521119;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.wrapper .btn2 {
    position: relative;
    margin-top: 20px;
    left: 25%;
    width: 50%;
    height: 45px;
    background: #521119;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.wrapper .btn2 a{
    text-decoration: none;
    color: #fff;
}
.wrapper .btn:hover{
    background: #721823;
    color:#fff;
    transition: 0.5;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 30px 0 15px;
}
.register-link a {
    color: #521119;
    text-decoration: none;
    font-weight: bold;
    
}
.register-link a:hover{
    text-decoration: underline;
}
